.table-scroll {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.delete-btn {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    .custom-spinner-border {
        min-width: 1rem;
        min-height: 1rem;
        width: 1rem;
        height: 1rem;
    }
}
