<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-primary login-title-container">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-center p-4">
                                <img [src]="'./assets/images/ford-logo-2.png'" style="height: 125px; width: 265px;">
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="p-2">
                            <div class="text-center">
                                <label class="form-label">{{'auth.change-password.change-password' | translate}}</label>
                            </div>
                            <label class="form-label mt-3"></label>
                            {{'auth.change-password.password' | translate}}
                            <div class="input-group auth-pass-inputgroup">
                                <input class="form-control" type="{{inputType1}}"
                                    placeholder="{{'auth.change-password.password' | translate}}"
                                    [(ngModel)]="newPassword">
                                <button class="btn btn-light ms-0" type="button" id="password-addon"
                                    (click)="toggleInputType1()">
                                    <i *ngIf="isInputTypePassword(inputType1)" class="mdi mdi-eye-outline"></i>
                                    <i *ngIf="isInputTypeText(inputType1)" class="mdi mdi-eye-off-outline"></i>
                                </button>
                            </div>
                            <label class="form-label mt-3"></label>
                            {{'auth.change-password.confirm-password' | translate}}
                            <div class="input-group auth-pass-inputgroup">
                                <input class="form-control" type="{{inputType2}}"
                                    placeholder="{{'auth.change-password.confirm-password' | translate}}"
                                    [(ngModel)]="confirmPassword">
                                <button class="btn btn-light ms-0" type="button" id="password-addon"
                                    (click)="toggleInputType2()">
                                    <i *ngIf="isInputTypePassword(inputType2)" class="mdi mdi-eye-outline"></i>
                                    <i *ngIf="isInputTypeText(inputType2)" class="mdi mdi-eye-off-outline"></i>
                                </button>
                            </div>

                            <div class="d-flex flex-column">
                                <span *ngIf="passwordsNotMatch" class="mt-2" style="color:#f46a6a; font-size:80%">
                                    {{'auth.change-password.passwords-doesnt-match' | translate}}
                                </span>

                                <span *ngIf="noPasswordSupplied" class="mt-2" style="color:#f46a6a; font-size:80%">
                                    {{'auth.change-password.insert-new-password' | translate}}
                                </span>
                                
                                <label *ngIf="weakPassword" class="mt-2"
                                    style="color:#f46a6a; font-size:80%">{{'auth.change-password.weak-password' |
                                    translate}}
                                </label>

                                <span style="font-size:80%" class="mt-2">
                                    {{'auth.change-password.password-hint' | translate}}
                                </span>
                            </div>

                            <div class="mt-3 d-grid">
                                <button class="btn btn-rounded btn-primary" type="button"
                                    (click)="changePassword()">{{'global.confirm' | translate}}</button>
                            </div>

                            <div class="mt-3 d-grid">
                                <button class="btn btn-rounded btn-secondary" type="button"
                                    (click)="backToLogin()">{{'global.back' | translate}}</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- end container -->
</div>
<!-- end page -->